<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/movies">Movies</a>
        <a href="/search">Search</a>
    </nav>
    <h1>About the movie app</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti autem dolor aliquam nihil tempora atque facere
        earum illum dolores accusantium magni voluptatem neque illo vitae cum, beatae magnam fugit inventore!</p>
</body>

</html>