<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>

<body>
    <h1>Movies</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/movies">Movies</a>
    </nav>

    <ul>

        {% for movie in movies %}
        <li>
            {{ movie.title}} - {{ movie.genre }} - {{ movie.year }} -
            <a href="/movie?title={{movie.title}}">View Movie</a>
        </li>
        {% endfor %}
    </ul>

</body>

</html>